//background-color: #343E55;

//font-family: Hiragino Sans GB;

.color{
  background-color: #343E55;
  width:auto;
  height: 100px;
}

.down{
  margin: 10px;
  padding:10px;
}
.text{
  font-family: Hiragino Sans GB;
}

:local(.component) {
  padding: 50px 55px;
}