:local(.component) {
    $padding: 10px;
    $background: #1e2329;
    $grey: #b3b3b3;
    $link-color: #616e8b;

    ul {
        background: $background;
    }

    li {
        padding: $padding;
        .name {
            flex: 1;
        }
        .description {
            flex:3;
            color: $grey;
        }
    }

    .line {
        display: flex;
        justify-content: left;
    }

        .buttons {
            display:inline-flex;
            a {
                padding-top: 1px;
                text-decoration: none;
                color: $link-color;
            }
            a:hover {
                color: $grey;
                transition: all 0.3s ease;
            }

            .trash-btn {
                margin-left: 10px;
                cursor: pointer;
                color: $link-color;

            }
            .trash-btn:hover {
                color: $grey;
                transition: all 0.3s ease;
            }
        }

        .toggle {
            flex:2;
        }

        // OVERIDE SEMANTIC UI TOGGLE CHECKBOX COLORS
        .ui.toggle.checkbox input:focus:checked~.box:before,
        .ui.toggle.checkbox input:focus:checked~label:before {
            background-color: $link-color !important;
        }

        .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
            background-color: $grey;
        }

        .ui.toggle.checkbox input:checked ~ .box:before,
        .ui.toggle.checkbox input:checked ~ label:before {
            background-color: $link-color !important;
        }

        .ui.toggle.checkbox input ~ .box:before,
        .ui.toggle.checkbox input ~ label:before {
            background-color: $grey !important;
        }

        .ui.toggle.checkbox input:checked~label, .ui.toggle.checkbox input~label  {
            color: $link-color !important;
        }
}
