$main_background_color: #2A3346;
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
$icons-font-path: '/node_modules/semantic-ui-sass/icons';
$flags-image-path: '/node_modules/semantic-ui-sass/images';
@import "~semantic-ui-sass/semantic-ui.scss";

body {
    background-color: $main_background_color;
}

:local(.component) {
    background-color: $main_background_color;
    color: white;
    min-height: 100vh;
    margin: auto;
    font-family: "Gothic A1", sans-serif;
    @import "override_semantic";
    max-width: 100vw;
    overflow-x: hidden;
}


.fade-enter {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out;
}

.fade-enter-active {
    opacity: 1;
    top: 0;
    left: 0;
    position: fixed;
}

.fade-exit {
    opacity: 1;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    width: 0;
    height: 0;
}

.fade-exit-active {
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
    position: fixed;
}

.margin-menu {
    margin-left: 15rem;
}
