:local(.component) {
    padding:15px;
    display: flex;
    justify-content:flex-start;
    height: 100vh;
    flex-direction: column;
    $padding: 15px;
    h1 {
        font-size: 2em;
    }

    .actions {
        margin-top: $padding;
    }


}
