#background{
  background-color: #1F2634;
  padding-bottom: 50%;
  padding-right: 2%;
}

.color{
  background-color: #1F2634;
  font-family: Hiragino Sans GB;
  height: 1100px;
}

.logout-menu {
    cursor:pointer;
}

.logout-menu:hover {
    color: #b3b3b3;
}

.logout-icon {
    width: 1.18em;
    float: right;
    margin: 0em 0em 0em 0.5em !important;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.15)!important;
}
